body {
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.slider {
    width: 350px;
    height: 200px;
    margin: 10px auto 50px auto;
    position: relative;
    display: flex;
}
.slider div {
    width: 100%;
    height: 100%;
}
.slider .fas {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    top: 35%;
    color: rgb(65, 65, 65);
    cursor: pointer;
    z-index: 2;
}
.active {
    color: black !important;
}
.active:hover, .fa-search-plus:hover, .fa-sign-in-alt:hover {
    text-shadow: 2px 2px 3px rgb(71, 71, 71);
}
.slider .fas:active {
    text-shadow: none;
}
.fa-arrow-alt-circle-left {
    left: 5px;
    transition: 0.4s;
}
.fa-arrow-alt-circle-right {
    right: 5px;
    transition: 0.4s;
}
.fa-search-plus, .fa-sign-in-alt {
    top: 5px !important;

    font-size: 30px !important;
    color: black !important;
}
.fa-search-plus {
    left: 5px;
}
.fa-sign-in-alt {
    right: 5px;
    transform: rotate(90deg);
}
.slider img {
    animation: fide 1s linear;
}
.resize {
    position: relative;
    top: 50px;
    transform: scale(1.5);
}
.resize .fa-arrow-alt-circle-left {
    left: -55px;
}
.resize .fa-arrow-alt-circle-right {
    right: -55px;
}
@keyframes fide {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.selected {
    width: 80%;
    height: 150px;
    border: 2px solid black;
    margin: 60px auto;
    display: flex;
}
.selected img {
    width: 25%;
    cursor: pointer;
}